@if (!loading) {
<section class="text-gray-700 body-font">
  <div class="flex container px-5 mx-auto" (click)="detailPage(data.id)">
    <!-- Repeat this card structure for each movie in the list -->
    <div class="w-40" style="cursor: pointer;">
      <div class="relative">
        <!-- Loading skeleton -->
        <div [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original' + data.poster_path + ')'" style="background-size: cover;" class=" rounded-lg  w-full h-80"></div>

        <!-- Content that will appear when loaded -->
        <div
          class="absolute inset-0 flex items-end justify-center opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-75 rounded-lg"
        >
          <!-- Movie details -->
          <div class=" text-center">
            <h3 class="font-medium text-sm  text-slate-200">{{data.title}}</h3>
            <p class="text-xs mb-3 mt-2  text-slate-200">{{ data.release_date | date : "MMMM d, y" }}</p>
          </div>

          <div class="rating">
            <circle-progress class="ml-5"
          [percent]="data.vote_average * 10"
          [radius]="20"
          [titleColor]="'#B3B9C4'"
          [titleFontSize]="'10'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="4"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="getColor(data.vote_average * 10)"
          [innerStrokeColor]="'#CFE3AF'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
          </div>
         
        </div>
       
        
      </div>
    </div>
  </div>
</section>
} @else {
<section>
  <div class="flex container px-5  mx-auto">
    <!-- Repeat this card structure for each movie in the list -->
    <div class="w-40">
      <div class="relative">
        <!-- Loading skeleton -->
        <div class="animate-pulse rounded-lg bg-gray-300 w-full h-80"></div>
        <!-- Content that will appear when loaded -->
        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-75 rounded-lg"
        >
          <!-- Movie details -->
          
        </div>
      </div>
    </div>
  </div>
</section>

}
