/* You can add global styles to this file, and also import other style files */


// Import Tailwind base styles
@import 'tailwindcss/base';

// Import Tailwind component styles
@import 'tailwindcss/components';

// Import Tailwind utility styles
@import 'tailwindcss/utilities';
@import "./css/base";
@import "./css/common";



html,
body {
  margin: 0; /* Reset default margin */
  display: flex;
  min-height: 100vh; /* Ensure body fills the viewport height */
  flex-direction: column;
  background-color: var(--bgColor);
  color: var(--textColor);
}

main {
  flex: 1; /* Allow main content to grow and take remaining height */
  overflow-y: auto; /* Enable vertical scrolling for main content */
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

button {
  font-family: "Space Mono", monospace;
}

// main {
//   display: flex;
//   height: 100vh;
//   flex-direction: column;
//   background-color: var(--bgColor);
//   color: var(--textColor);
// }

